[Unit]
Description=PiFinder
After=multi-user.target

[Service]
Type=idle
User=pifinder
WorkingDirectory=$HOME/PiFinder/python
ExecStart=/usr/bin/python -m PiFinder.main

[Install]
WantedBy=multi-user.target
