[Unit]
Description=Cedar Detect Server
After=basic.target

[Service]
Type=idle
User=__PIFINDER_USER__
WorkingDirectory=__PIFINDER_REPO_DIR__
Environment=RUST_BACKTRACE=1
ExecStart=__PIFINDER_REPO_DIR__/bin/cedar-detect-server-aarch64 --port 50551
AmbientCapabilities=CAP_NET_BIND_SERVICE

[Install]
WantedBy=basic.target
