[Unit]
Description=PiFinderSplash

[Service]
WorkingDirectory=/home/pifinder/PiFinder/python
ExecStart=/usr/bin/bash /home/pifinder/PiFinder/pifinder_splash.sh

[Install]
WantedBy=basic.target
