[Unit]
Description=PiFinder
After=basic.target

[Service]
Type=idle
User=pifinder
WorkingDirectory=/home/pifinder/PiFinder/python
ExecStart=/usr/bin/python -m PiFinder.main

[Install]
WantedBy=basic.target
