[Unit]
Description=PiFinder
After=basic.target

[Service]
Type=idle
User=pifinder
WorkingDirectory=/home/pifinder/PiFinder/python
ExecStart=/usr/bin/bash /home/pifinder/PiFinder/pifinder_start.sh
AmbientCapabilities=CAP_NET_BIND_SERVICE

[Install]
WantedBy=basic.target
