{% extends "base.html" %}

{% block content %}
<div class="row valign-wrapper" style="margin: 0px;">
  <div class="col s12 align-center">
    <h5 class="grey-text text-lighten-1">{{ _('Restarting PiFinder') }}</h5>
    <p class="grey-text">{{ _('This will take approximately 20 seconds and you should be redirected to the home page.') }}</p>
    <p class="grey-text">{{ _('If you are not automatically redirected') }} <a href="/">{{ _('Click Here') }}</a></p>
  </div>
</div>
<div class="progress">
  <div class="indeterminate"></div>
</div>
{% endblock %}

{% block scripts %}
<script>
  setTimeout(function() {
    location.href = "/";
  }, 20000);
  fetch("/system/restart_pifinder?" + new Date().getTime());
</script>
{% endblock %}
