/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
body {
     display: flex;
     min-height: 100vh;
     flex-direction: column;
}

main {
 flex: 1 0 auto;
}

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}

.pf-logo {
  height: 50px;   
}

.pifinder-screen {
  width: 100%;
  max-width: 256px;
  padding: 1rem;
 
}
