body {
  background-color: #252525;
  margin: 0;
  font-family: Helvetica;
}

.main-body-container {
    top: 3.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    position: absolute;
    width: 100%;
    max-width: 400px;
}

.header {
  background-color: #999;
  height: 3rem;
  width: 100%;
  top: 0px;
  left: 0px;
  position: absolute;
  z-index: -1;
  padding-left: 60px;
}

.pifinder-screen {
  width: 100%;
  height: 100%;
}

.status-items {
  display: flex;
  flex-direction: column;
  gap: .2em;
}

.status-items .item {
  display: flex;
  flex-direction: row;
  font-size: x-large;
  gap: .2em;
}

.status-items .key {
  color: #555;
  background: #999;
  width: 60%;
  text-align: right;
  padding: 0.4rem;
}

.status-items .value {
  color: #222;
  background: #999;
  padding: 0.4rem;
  width: 40%;
}

.remote-button {
  background-color: #111111;
  color: red;
  border: none;
  border-radius:5px;
  margin: 0.1rem;
  width: 4.5rem;
  height: 3.5rem;
}

.pressed {
    background-color: #008CBA; /* Blue */
    color: white;
}

.error-message {
    color: white;
    width: 256px;
    text-align: center;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --bar-width: 40px;
  --bar-height: 7px;
  --hamburger-gap: 6px;
  --foreground: #333;
  --background: white;
  --hamburger-margin: 8px;
  --animation-timing: 200ms ease-in-out;
  --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
}

.hamburger-menu {
  --x-width: calc(var(--hamburger-height) * 1.41421356237);

  display: flex;
  flex-direction: column;
  gap: var(--hamburger-gap);
  width: max-content;
  position: absolute;
  top: var(--hamburger-margin);
  left: var(--hamburger-margin);
  z-index: 2;
  cursor: pointer;
}

.hamburger-menu:has(input:checked) {
  --foreground: #999;
  --background: #333;
}

.hamburger-menu:has(input:focus-visible)::before,
.hamburger-menu:has(input:focus-visible)::after,
.hamburger-menu input:focus-visible {
  border: 1px solid var(--background);
  box-shadow: 0 0 0 1px var(--foreground);
}

.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input {
  content: "";
  width: var(--bar-width);
  height: var(--bar-height);
  background-color: var(--foreground);
  border-radius: 9999px;
  transform-origin: left center;
  transition: opacity var(--animation-timing), width var(--animation-timing),
    rotate var(--animation-timing), translate var(--animation-timing),
    background-color var(--animation-timing);
}

.hamburger-menu input {
  appearance: none;
  padding: 0;
  margin: 0;
  outline: none;
  pointer-events: none;
}

.hamburger-menu:has(input:checked)::before {
  rotate: 45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / -2);
}

.hamburger-menu:has(input:checked)::after {
  rotate: -45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / 2);
}

.hamburger-menu input:checked {
  opacity: 0;
  width: 0;
}

.sidebar {
  transition: translate var(--animation-timing);
  translate: -100%;
  padding: 0.5rem 1rem;
  padding-top: calc(var(--hamburger-height) + var(--hamburger-margin) + 1rem);
  background-color: var(--foreground);
  color: var(--background);
  max-width: 10rem;
  min-height: 100vh;
  z-index:1;
  position: relative;
}

.sidebar-item {
  color: #999;
  font-size: 2rem;
  padding: 0.5rem;
  cursor: pointer;
}

.hamburger-menu:has(input:checked) + .sidebar {
  translate: 0;
}

.pressed {
    background-color: #008CBA; /* Blue */
    color: white;
}
