name: Lint & Test
on: [push, pull_request]
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: DeterminateSystems/nix-installer-action@main
        with:
          determinate: false
      - uses: DeterminateSystems/magic-nix-cache-action@main
      - name: Lint
        run: nix develop --command bash -c "cd python && ruff check"
      - name: Format check
        run: nix develop --command bash -c "cd python && ruff format --check"

  type-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: DeterminateSystems/nix-installer-action@main
        with:
          determinate: false
      - uses: DeterminateSystems/magic-nix-cache-action@main
      - name: Type check
        run: nix develop --command bash -c "cd python && mypy --install-types --non-interactive ."

  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: DeterminateSystems/nix-installer-action@main
        with:
          determinate: false
      - uses: DeterminateSystems/magic-nix-cache-action@main
      - name: Smoke tests
        run: nix develop --command bash -c "cd python && pytest -m smoke"
      - name: Unit tests
        run: nix develop --command bash -c "cd python && pytest -m unit"
